doctype html
html
    head
        style
            include style.css
    body
        div
            | TEST EMAIL
            br
            | This is our container

        block content

        div.footer
            | FOOTER!!!
            | Home Work Test email
            a(href="https://www.google.com") CLICK HERE
